<footer>
 <a href="#">&uarr; Back to top</a>
 {{ with .Site.Author.twitterurl }} || <a href="{{ . }}">Twitter</a> {{ end }} 
 {{ with .Site.Author.githuburl }} || <a href="{{ . }}">Github</a> {{ end }}
</footer>

{{ if not .Site.IsServer }}
	{{ template "_internal/google_analytics_async.html" . }}
{{ end }}

<!--a href="{{ .Site.BaseURL }}privacy-policy">Privacy-Policy</a>&nbsp;&vert;
<a href="{{ .Site.BaseURL }}terms-conditions">Terms and Conditions</a-->
<!--p>&copy; {{ now.Format "2006"}} {{ $.Site.Params.authorName }}. All rights reserved. </p-->
